body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

textarea,
button {
  box-sizing: border-box;
  background-color: transparent;
  background-image: none;
  outline: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

/*noinspection CssInvalidPseudoSelector*/
input::-webkit-datetime-edit {
  line-height: 1;
  padding: 0;
  margin-bottom: -5px;
}
